<a href="https://colab.research.google.com/github/herrmannfl/Python/blob/main/Segunda_parte_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Coleções**
As coleções permitem armazenar múltiplos itens dentro de uma única unidade, que funciona como um container.
* Tuplas
* Listas
* Sets
* Dicionários

## **Tuplas**
* Uma tupla em Python é uma sequência imutável de valores de qualquer tipo. Para criar uma
tupla, lista-se uma sequência de valores separados por vírgulas e, opcionalmente, entre
parênteses.
* Cada posição da tupla é indexada por um número inteiro, começando a partir do 0.
* Observe que para criar uma tupla é necessário que os itens estejam entre parêntesis.

In [ ]:
numeros = (1,2,3,4,5)
print(numeros)
print(type(numeros))
print(len(numeros))

(1, 2, 3, 4, 5)
<class 'tuple'>
5

In [ ]:
nomes = ('Maria', 'João', 'José')
print(nomes[1])
print(len(nomes))
print(type(nomes))

João
3
<class 'tuple'>

In [ ]:
# exemplo de tuplas com estudante, disciplina e notas
aluno1 = ("José",23,"Tópicos Avançados",[60,40,80])
aluno2 = ("Maria",22,"Técnicas de Programação",[75,80,90])

print(aluno1)
print(type(aluno1))
print(type(aluno1[3]))
print("A estudante",aluno2[0],"na disciplina",aluno2[2],"obteve a média:",sum(aluno2[3])/len(aluno2[3]))
# outra forma para printar usando formatação
print(f"O estudante {aluno1[0]} na disciplina {aluno1[2]} obteve a média {sum(aluno1[3])/len(aluno1[3]):.2f}")

for elemento in aluno2:
    print(elemento)

('José', 23, 'Tópicos Avançados', [60, 40, 80])
<class 'tuple'>
<class 'list'>
A estudante Maria na disciplina Técnicas de Programação obteve a média: 81.66666666666667
O estudante José na disciplina Tópicos Avançados obteve a média 60.00
Maria
22
Técnicas de Programação
[75, 80, 90]

**Tuplas são IMUTÁVEIS**

In [ ]:
print(aluno1)
# alterando o nome do estudante 1
aluno1[0] = "João"

('José', 23, 'Tópicos Avançados', [60, 50, 80])

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Embora uma tupla em si seja imutável, se a tupla contém elementos mutáveis (como listas), os
#conteúdos desses elementos podem ser modificados. No exemplo abaixo:
aluno3 = ("Gustavo Almeida", 23, "Lógica de Programação", [40,70,90])
aluno3[3][1] = 80
print(aluno3)

('Gustavo Almeida', 23, 'Lógica de Programação', [40, 80, 90])

In [ ]:
#é possível armazenar cada parte da tupla em variáveis
nome, idade, disciplina, notas = aluno1
print(nome)
print(idade)
print(disciplina)
print(notas)

José
23
Tópicos Avançados
[60, 50, 80]

### **Resumo Tuplas**
* Tuplas são uma estrutura de dados em Python que são semelhantes às listas, mas com uma diferença importante: são imutáveis;
* Uma vez criada, uma tupla não pode ser modificada (adicionar, remover ou alterar itens)
* Tuplas são ideias para representar dados que não devem ser alterados, exemplos:
  * Coordenadas geográficas (latitude, longitude);
  * Dimensões de objetos;
  * Pontos em um plano cartesiano.

## **Listas**
Diferente das tuplas, listas podem variar em tamanho e seus elementos podem ser
modificados. Listas são mutáveis. Você pode definir uma lista usando os colchetes [].

In [ ]:
lista = [1,2,3,4,5]
print(lista)
print(type(lista))
print(len(lista))

[1, 2, 3, 4, 5]
<class 'list'>
5

In [ ]:
lista = ["Maria", "João", "José", 1,2,3, 4.5]
print(lista)
print(len(lista))
print(type(lista))

['Maria', 'João', 'José', 1, 2, 3, 4.5]
7
<class 'list'>

In [ ]:
# pode-se criar listas a partir de um range
# parâmetros do range são (start, stop, step)
lista = list(range(10))
print(lista)
lista = list(range(1,10))
print(lista)
lista = list(range(5,100,5))
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
#inserindo itens
carros = []
# append adiciona ao final
carros.append("Fusca")
carros.append("Gol")
carros.append("Celta")
print(carros)
carros.insert(0,"Palio")
print(carros)

['Fusca', 'Gol', 'Celta']
['Palio', 'Fusca', 'Gol', 'Celta']

In [ ]:
# removendo itens
# pop remove do final
carros.pop()
print(carros)
carros.pop(0)
print(carros)

['Palio', 'Fusca', 'Gol']
['Fusca', 'Gol']

In [ ]:
# é possível remover por valor
carros = ["Fusca", "Gol", "Celta", "Palio", "Gol"]
print(carros)
# remove o primeiro valor encontrado
carros.remove("Gol")
print(carros)

['Fusca', 'Gol', 'Celta', 'Palio', 'Gol']
['Fusca', 'Celta', 'Palio', 'Gol']

In [ ]:
# busca por valor
print("Mclaren" in carros)
print("Mclaren" not in carros)

False
True

In [ ]:
# Concatenção
carros1 = ["Fusca", "Gol", "Celta"]
carros2 = ["Palio", "Mclaren"]
carros = carros1 + carros2
print(carros)
numeros = [1,2,3]
carros = carros1 + carros2 + numeros
print(carros)

['Fusca', 'Gol', 'Celta', 'Palio', 'Mclaren']
['Fusca', 'Gol', 'Celta', 'Palio', 'Mclaren', 1, 2, 3]

In [ ]:
#ordenação
numeros = [1,2,3,4,5]
numeros.sort()
print(numeros)
numeros.sort(reverse=True)
print(numeros)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
#Ordenação
frutas = ["maçã", "banana", "laranja", "uva"]
frutas.sort(key=len)
print(frutas)

['uva', 'maçã', 'banana', 'laranja']

**Fatiamento**

```
 ---------------------
 | a | b | c | d | e |
 ---------------------
 0   1   2   3   4   5
-5  -4  -3  -2   -1  0

```

In [ ]:
#Fatiamento
letras = ["a", "b", "c", "d", "e"]
#[START:STOP] -> a quantidade de elementos é sempre STOP - START
print(letras[1:4])
print(letras[:3])
print(letras[2:])
# dá para utilizar valores negativos no fatiamento
print(letras[-5:])
print(letras[-5:-2])

['b', 'c', 'd']
['a', 'b', 'c']
['c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c']

## **Sets**
Igual a lista, porém os valores devem ser únicos

In [ ]:
meuSet = {1,2,3,4,5}
print(meuSet)
print(type(meuSet))
print(len(meuSet))

{1, 2, 3, 4, 5}
<class 'set'>
5

In [ ]:
#adicionando
meuSet.add(100)
print(meuSet)

{1, 2, 3, 4, 5, 100}

In [ ]:
# adicionando novamente
meuSet.add(100)
print(meuSet)
# removendo
meuSet.discard(100)
print(meuSet)

{1, 2, 3, 4, 5, 100}
{1, 2, 3, 4, 5}

In [ ]:
#convertendo para lista
lista = list(meuSet)
print(lista)

[1, 2, 3, 4, 5, 100]

In [ ]:
#mais métodos de set
meuSet = {1,2,3,4,5}
meuSet2 = {4,5,6,7,8}
print(meuSet.union(meuSet2))
print(meuSet.intersection(meuSet2))
print(meuSet.symmetric_difference(meuSet2))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3, 6, 7, 8}

In [ ]:
print(meuSet | meuSet2) #or
print(meuSet & meuSet2) #and
print(meuSet ^ meuSet2) #xor

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3, 6, 7, 8}

In [ ]:
#curiosidade.
# 5 XOR 6, qual o resultado?
a = 5
b = 6
print(a ^ b)
# 5 - 101
# 6 - 110
# 3 - 011

3

## **Dicionários**
* Dicionários são uma estrutura de dados em Python que armazenam pares de chave-valor.
* Extremamente úteis quando você precisa associar informações ou quando a busca por valores com base em uma chave é frequente.

In [ ]:
dados = {"nome": "João", "idade": 25, "cidade": "São Paulo"}
print(dados)
print(type(dados))
print(len(dados))

{'nome': 'João', 'idade': 25, 'cidade': 'São Paulo'}
<class 'dict'>
3

In [ ]:
#acessando valores
print(dados["nome"])
print(dados["idade"])
print(dados["cidade"])

João
25
São Paulo

In [ ]:
#modificando valores
dados["idade"] = 26
print(dados)

{'nome': 'João', 'idade': 26, 'cidade': 'São Paulo'}

In [ ]:
#adicionar novos valores
dados["estado"] = "SP"
dados["profissão"] = "Engenheiro"
print(dados)

{'nome': 'João', 'idade': 26, 'cidade': 'São Paulo', 'estado': 'SP', 'profissão': 'Engenheiro'}

In [ ]:
#Removendo chave-valor
del dados["cidade"]
print(dados)

{'nome': 'João', 'idade': 26, 'estado': 'SP', 'profissão': 'Engenheiro'}

In [ ]:
#imprimir todos os elementos
for chave, valor in dados.items():
    print(f"{chave}: {valor}")

nome: João
idade: 26
estado: SP
profissão: Engenheiro

In [ ]:
#dicionários com n dimensões
# utilizaremos neste exemplo um ID como chave.
alunos = {
    1: {"nome":"João","idade": 25, "cidade": "São Paulo", "notas":[90,75,76]},
    89: {"nome":"Maria","idade": 22, "cidade": "Rio de Janeiro","notas":[100,72,73]},
    57: {"nome":"Pedro","idade": 28, "cidade": "Belo Horizonte", "notas":[25,85.90,68],
              "email":"pedro@gmail.com"}
}
print(alunos)

{1: {'nome': 'João', 'idade': 25, 'cidade': 'São Paulo', 'notas': [90, 75, 76]}, 89: {'nome': 'Maria', 'idade': 22, 'cidade': 'Rio de Janeiro', 'notas': [100, 72, 73]}, 57: {'nome': 'Pedro', 'idade': 28, 'cidade': 'Belo Horizonte', 'notas': [25, 85.9, 68], 'email': 'pedro@gmail.com'}}

In [ ]:
#Como acessa a nota 2 do estudante "Pedro"??
alunos[57]["notas"][1]

75

In [ ]:
#usando try catch para evitar erros, quando a chave não existe
try:
  print(alunos[45])
except KeyError:
  print("Aluno não encontrado")

Aluno não encontrado

In [ ]:
# Perguntando a chave para o usuário e tentando acessar o alunos pelo ID
try:
  x = int(input("Informe o ID do estudante: "))
except ValueError:
  print("ID inválido")
else:
  try:
    print(alunos[x])
  except KeyError:
    print("Estudante não encontrado")

Informe o ID do estudante: 57
{'nome': 'Pedro', 'idade': 28, 'cidade': 'Belo Horizonte', 'notas': [25, 85.9, 68], 'email': 'pedro@gmail.com'}

# **Funções**
* As funções são blocos de código que recebem um nome e executam determinada tarefa.
* Quando precisamos realizar a tarefa que foi definida numa função, não é preciso digitar tudo
novamente, apenas chamamos a função.
* Para executar a tarefa, as funções podem precisar de dados, que chamamos de parâmetros ou
argumentos.
* As funções também podem ou não retornar um ou mais valores ao final da execução.

In [ ]:
def olaMundo():
    print("Olá Mundo!")

print(type(olaMundo))
print("Chamando a função olaMundo()...!")
olaMundo()

<class 'function'>
Chamando a função ola_mundo!
Olá Mundo!

In [ ]:
#parâmetros
def descreva_pessoa(nome, idade):
    print(f"\nNome: {nome}")
    print(f"Idade: {idade}")

descreva_pessoa("João", 25)
descreva_pessoa("Maria", 30)

Nome: João
Idade: 25

Nome: Maria
Idade: 30

In [ ]:
# retornando valores
def repetirString(string, vezes):
    s = ""
    for i in range(vezes):
        s += string
    return s

saida = repetirString("Olá ", 5)
print(saida)

Olá Olá Olá Olá Olá

In [ ]:
#escopo de variaveis

def funcao():
    x = "Fantástico"
    print("Escopo local...")
    print("Python é "+x)

x = "Impressionante"
funcao()
print("Escopo global...")
print("Python é "+ x)

Escopo local...
Python é Fantástico
Escopo global...
Python é Impressionante

In [ ]:
# parametros com default
def say_hello(name="Darth Vader", emoji="?"):
  print(f"Hello {name} {emoji}")

say_hello("World", "😀")
#keyword arguments (não é muito usado)
say_hello(emoji=":)", name="World")
say_hello('Im not your father')
say_hello()

Hello World 😀
Hello World :)
Hello Im not your father ?
Hello Darth Vader ?

# **Classes**
* No contexto da programação orientada a objetos, as classes representam coisas e situações do
mundo real.
* Com base nas classes, criamos ou “instanciamos” objetos.
* A classe funciona como um "molde" para a criação de objetos. Uma classe define um
comportamento geral que uma categoria de objetos deve apresentar.

In [5]:
class Dog:
  def __init__(self, name, age):
    #inicializa os atributos
    self.name = name
    self.age = age

  def sit(self):
    #simula o cachorro atendendo ao comando
    print(f"{self.name} está sentado")

  def roll_over(self):
    #simula o cachorro atendendo ao comando
    print(f"{self.name} rolou!")

meuCusco = Dog("Monstro",3)
print(f"O nome do meu cusco é {meuCusco.name} e ele tem {meuCusco.age} anos")
meuCusco.sit()
meuCusco.roll_over()

O nome do meu cusco é Monstro e ele tem 3 anos
Monstro está sentado
Monstro rolou!

In [6]:
# Herança e polimorfismo
class Veiculo:
  def __init__(self, marca, modelo):
    self.marca = marca
    self.modelo = modelo

  def mostrarDetalhes(self):
    print(f"Marca: {self.marca}, Modelo: {self.modelo}")

class Carro(Veiculo):
  def __init__(self, marca, modelo, cor):
    super().__init__(marca, modelo)
    self.cor = cor

class Moto(Veiculo):
  def __init__(self, marca, modelo, cilindrada):
    super().__init__(marca, modelo)
    self.cilindrada = cilindrada

def mostrarInformacoes(veiculo):
  veiculo.mostrarDetalhes()


carro = Carro("Toyota", "Corolla", "Vermelho")
moto = Moto("Honda", "CBR", 500)

mostrarInformacoes(carro)
mostrarInformacoes(moto)

Marca: Toyota, Modelo: Corolla
Marca: Honda, Modelo: CBR

# **==-Exercícios-==**
1. **Tuplas:**

    Crie uma tupla com os nomes dos dias da semana e solicite ao usuário que digite um número de 1 a 7. Exiba o dia correspondente ao número digitado.

2. **Listas:**

    Escreva um programa que crie uma lista vazia e permita que o usuário adicione 5 números inteiros. Em seguida, exiba a lista e a soma de todos os números contidos nela.

3. **Sets:**

    Crie dois conjuntos (sets) com elementos inteiros. Realize as operações de união, interseção e diferença entre eles, e exiba os resultados.

4. **Dicionários:**

    Desenvolva um programa que armazene as notas de três disciplinas em um dicionário, onde as chaves são os nomes das disciplinas e os valores são as notas. Calcule e exiba a média das notas.

5. **Funções:**

    Implemente uma função chamada calcular_fatorial que receba um número inteiro e retorne o seu fatorial. Use essa função para calcular o fatorial de um número fornecido pelo usuário.

6. **Classes (Exemplo Alternativo):**

    Crie uma classe chamada Retangulo que tenha os atributos largura e altura. Adicione um método chamado calcular_area que retorne a área do retângulo (largura * altura). Adicione também um método chamado calcular_perimetro que retorne o perímetro (2 * (largura + altura)). Instancie um objeto dessa classe com valores de sua escolha e exiba a área e o perímetro.

7. **Tuplas e Funções:**

    Escreva uma função que receba uma tupla de números inteiros e retorne a soma dos elementos. Teste a função com uma tupla de exemplo.

8. **Listas e Sets:**

    Crie uma lista com alguns elementos duplicados. Converta essa lista em um set para remover as duplicatas e exiba o set resultante.

9. **Dicionários e Funções:**

    Crie uma função chamada contar_ocorrencias que receba uma lista de palavras e retorne um dicionário com a contagem de ocorrências de cada palavra. Teste a função com uma lista de exemplo.

10. **Classes e Listas:**

    Crie uma classe chamada Aluno com os atributos nome e nota. Crie uma lista com três objetos Aluno, cada um com um nome e uma nota. Implemente um método na classe que determine se o aluno foi aprovado (nota >= 7) e use esse método para verificar se cada aluno foi aprovado.