<a href="https://colab.research.google.com/github/herrmannfl/Python/blob/main/Segunda_parte_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Cole√ß√µes**
As cole√ß√µes permitem armazenar m√∫ltiplos itens dentro de uma √∫nica unidade, que funciona como um container.
* Tuplas
* Listas
* Sets
* Dicion√°rios

## **Tuplas**
* Uma tupla em Python √© uma sequ√™ncia imut√°vel de valores de qualquer tipo. Para criar uma
tupla, lista-se uma sequ√™ncia de valores separados por v√≠rgulas e, opcionalmente, entre
par√™nteses.
* Cada posi√ß√£o da tupla √© indexada por um n√∫mero inteiro, come√ßando a partir do 0.
* Observe que para criar uma tupla √© necess√°rio que os itens estejam entre par√™ntesis.

In [ ]:
numeros = (1,2,3,4,5)
print(numeros)
print(type(numeros))
print(len(numeros))

(1, 2, 3, 4, 5)
<class 'tuple'>
5

In [ ]:
nomes = ('Maria', 'Jo√£o', 'Jos√©')
print(nomes[1])
print(len(nomes))
print(type(nomes))

Jo√£o
3
<class 'tuple'>

In [ ]:
# exemplo de tuplas com estudante, disciplina e notas
aluno1 = ("Jos√©",23,"T√≥picos Avan√ßados",[60,40,80])
aluno2 = ("Maria",22,"T√©cnicas de Programa√ß√£o",[75,80,90])

print(aluno1)
print(type(aluno1))
print(type(aluno1[3]))
print("A estudante",aluno2[0],"na disciplina",aluno2[2],"obteve a m√©dia:",sum(aluno2[3])/len(aluno2[3]))
# outra forma para printar usando formata√ß√£o
print(f"O estudante {aluno1[0]} na disciplina {aluno1[2]} obteve a m√©dia {sum(aluno1[3])/len(aluno1[3]):.2f}")

for elemento in aluno2:
    print(elemento)

('Jos√©', 23, 'T√≥picos Avan√ßados', [60, 40, 80])
<class 'tuple'>
<class 'list'>
A estudante Maria na disciplina T√©cnicas de Programa√ß√£o obteve a m√©dia: 81.66666666666667
O estudante Jos√© na disciplina T√≥picos Avan√ßados obteve a m√©dia 60.00
Maria
22
T√©cnicas de Programa√ß√£o
[75, 80, 90]

**Tuplas s√£o IMUT√ÅVEIS**

In [ ]:
print(aluno1)
# alterando o nome do estudante 1
aluno1[0] = "Jo√£o"

('Jos√©', 23, 'T√≥picos Avan√ßados', [60, 50, 80])

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Embora uma tupla em si seja imut√°vel, se a tupla cont√©m elementos mut√°veis (como listas), os
#conte√∫dos desses elementos podem ser modificados. No exemplo abaixo:
aluno3 = ("Gustavo Almeida", 23, "L√≥gica de Programa√ß√£o", [40,70,90])
aluno3[3][1] = 80
print(aluno3)

('Gustavo Almeida', 23, 'L√≥gica de Programa√ß√£o', [40, 80, 90])

In [ ]:
#√© poss√≠vel armazenar cada parte da tupla em vari√°veis
nome, idade, disciplina, notas = aluno1
print(nome)
print(idade)
print(disciplina)
print(notas)

Jos√©
23
T√≥picos Avan√ßados
[60, 50, 80]

### **Resumo Tuplas**
* Tuplas s√£o uma estrutura de dados em Python que s√£o semelhantes √†s listas, mas com uma diferen√ßa importante: s√£o imut√°veis;
* Uma vez criada, uma tupla n√£o pode ser modificada (adicionar, remover ou alterar itens)
* Tuplas s√£o ideias para representar dados que n√£o devem ser alterados, exemplos:
  * Coordenadas geogr√°ficas (latitude, longitude);
  * Dimens√µes de objetos;
  * Pontos em um plano cartesiano.

## **Listas**
Diferente das tuplas, listas podem variar em tamanho e seus elementos podem ser
modificados. Listas s√£o mut√°veis. Voc√™ pode definir uma lista usando os colchetes [].

In [ ]:
lista = [1,2,3,4,5]
print(lista)
print(type(lista))
print(len(lista))

[1, 2, 3, 4, 5]
<class 'list'>
5

In [ ]:
lista = ["Maria", "Jo√£o", "Jos√©", 1,2,3, 4.5]
print(lista)
print(len(lista))
print(type(lista))

['Maria', 'Jo√£o', 'Jos√©', 1, 2, 3, 4.5]
7
<class 'list'>

In [ ]:
# pode-se criar listas a partir de um range
# par√¢metros do range s√£o (start, stop, step)
lista = list(range(10))
print(lista)
lista = list(range(1,10))
print(lista)
lista = list(range(5,100,5))
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
#inserindo itens
carros = []
# append adiciona ao final
carros.append("Fusca")
carros.append("Gol")
carros.append("Celta")
print(carros)
carros.insert(0,"Palio")
print(carros)

['Fusca', 'Gol', 'Celta']
['Palio', 'Fusca', 'Gol', 'Celta']

In [ ]:
# removendo itens
# pop remove do final
carros.pop()
print(carros)
carros.pop(0)
print(carros)

['Palio', 'Fusca', 'Gol']
['Fusca', 'Gol']

In [ ]:
# √© poss√≠vel remover por valor
carros = ["Fusca", "Gol", "Celta", "Palio", "Gol"]
print(carros)
# remove o primeiro valor encontrado
carros.remove("Gol")
print(carros)

['Fusca', 'Gol', 'Celta', 'Palio', 'Gol']
['Fusca', 'Celta', 'Palio', 'Gol']

In [ ]:
# busca por valor
print("Mclaren" in carros)
print("Mclaren" not in carros)

False
True

In [ ]:
# Concaten√ß√£o
carros1 = ["Fusca", "Gol", "Celta"]
carros2 = ["Palio", "Mclaren"]
carros = carros1 + carros2
print(carros)
numeros = [1,2,3]
carros = carros1 + carros2 + numeros
print(carros)

['Fusca', 'Gol', 'Celta', 'Palio', 'Mclaren']
['Fusca', 'Gol', 'Celta', 'Palio', 'Mclaren', 1, 2, 3]

In [ ]:
#ordena√ß√£o
numeros = [1,2,3,4,5]
numeros.sort()
print(numeros)
numeros.sort(reverse=True)
print(numeros)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
#Ordena√ß√£o
frutas = ["ma√ß√£", "banana", "laranja", "uva"]
frutas.sort(key=len)
print(frutas)

['uva', 'ma√ß√£', 'banana', 'laranja']

**Fatiamento**

```
 ---------------------
 | a | b | c | d | e |
 ---------------------
 0   1   2   3   4   5
-5  -4  -3  -2   -1  0

```

In [ ]:
#Fatiamento
letras = ["a", "b", "c", "d", "e"]
#[START:STOP] -> a quantidade de elementos √© sempre STOP - START
print(letras[1:4])
print(letras[:3])
print(letras[2:])
# d√° para utilizar valores negativos no fatiamento
print(letras[-5:])
print(letras[-5:-2])

['b', 'c', 'd']
['a', 'b', 'c']
['c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c']

## **Sets**
Igual a lista, por√©m os valores devem ser √∫nicos

In [ ]:
meuSet = {1,2,3,4,5}
print(meuSet)
print(type(meuSet))
print(len(meuSet))

{1, 2, 3, 4, 5}
<class 'set'>
5

In [ ]:
#adicionando
meuSet.add(100)
print(meuSet)

{1, 2, 3, 4, 5, 100}

In [ ]:
# adicionando novamente
meuSet.add(100)
print(meuSet)
# removendo
meuSet.discard(100)
print(meuSet)

{1, 2, 3, 4, 5, 100}
{1, 2, 3, 4, 5}

In [ ]:
#convertendo para lista
lista = list(meuSet)
print(lista)

[1, 2, 3, 4, 5, 100]

In [ ]:
#mais m√©todos de set
meuSet = {1,2,3,4,5}
meuSet2 = {4,5,6,7,8}
print(meuSet.union(meuSet2))
print(meuSet.intersection(meuSet2))
print(meuSet.symmetric_difference(meuSet2))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3, 6, 7, 8}

In [ ]:
print(meuSet | meuSet2) #or
print(meuSet & meuSet2) #and
print(meuSet ^ meuSet2) #xor

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3, 6, 7, 8}

In [ ]:
#curiosidade.
# 5 XOR 6, qual o resultado?
a = 5
b = 6
print(a ^ b)
# 5 - 101
# 6 - 110
# 3 - 011

3

## **Dicion√°rios**
* Dicion√°rios s√£o uma estrutura de dados em Python que armazenam pares de chave-valor.
* Extremamente √∫teis quando voc√™ precisa associar informa√ß√µes ou quando a busca por valores com base em uma chave √© frequente.

In [ ]:
dados = {"nome": "Jo√£o", "idade": 25, "cidade": "S√£o Paulo"}
print(dados)
print(type(dados))
print(len(dados))

{'nome': 'Jo√£o', 'idade': 25, 'cidade': 'S√£o Paulo'}
<class 'dict'>
3

In [ ]:
#acessando valores
print(dados["nome"])
print(dados["idade"])
print(dados["cidade"])

Jo√£o
25
S√£o Paulo

In [ ]:
#modificando valores
dados["idade"] = 26
print(dados)

{'nome': 'Jo√£o', 'idade': 26, 'cidade': 'S√£o Paulo'}

In [ ]:
#adicionar novos valores
dados["estado"] = "SP"
dados["profiss√£o"] = "Engenheiro"
print(dados)

{'nome': 'Jo√£o', 'idade': 26, 'cidade': 'S√£o Paulo', 'estado': 'SP', 'profiss√£o': 'Engenheiro'}

In [ ]:
#Removendo chave-valor
del dados["cidade"]
print(dados)

{'nome': 'Jo√£o', 'idade': 26, 'estado': 'SP', 'profiss√£o': 'Engenheiro'}

In [ ]:
#imprimir todos os elementos
for chave, valor in dados.items():
    print(f"{chave}: {valor}")

nome: Jo√£o
idade: 26
estado: SP
profiss√£o: Engenheiro

In [ ]:
#dicion√°rios com n dimens√µes
# utilizaremos neste exemplo um ID como chave.
alunos = {
    1: {"nome":"Jo√£o","idade": 25, "cidade": "S√£o Paulo", "notas":[90,75,76]},
    89: {"nome":"Maria","idade": 22, "cidade": "Rio de Janeiro","notas":[100,72,73]},
    57: {"nome":"Pedro","idade": 28, "cidade": "Belo Horizonte", "notas":[25,85.90,68],
              "email":"pedro@gmail.com"}
}
print(alunos)

{1: {'nome': 'Jo√£o', 'idade': 25, 'cidade': 'S√£o Paulo', 'notas': [90, 75, 76]}, 89: {'nome': 'Maria', 'idade': 22, 'cidade': 'Rio de Janeiro', 'notas': [100, 72, 73]}, 57: {'nome': 'Pedro', 'idade': 28, 'cidade': 'Belo Horizonte', 'notas': [25, 85.9, 68], 'email': 'pedro@gmail.com'}}

In [ ]:
#Como acessa a nota 2 do estudante "Pedro"??
alunos[57]["notas"][1]

75

In [ ]:
#usando try catch para evitar erros, quando a chave n√£o existe
try:
  print(alunos[45])
except KeyError:
  print("Aluno n√£o encontrado")

Aluno n√£o encontrado

In [ ]:
# Perguntando a chave para o usu√°rio e tentando acessar o alunos pelo ID
try:
  x = int(input("Informe o ID do estudante: "))
except ValueError:
  print("ID inv√°lido")
else:
  try:
    print(alunos[x])
  except KeyError:
    print("Estudante n√£o encontrado")

Informe o ID do estudante: 57
{'nome': 'Pedro', 'idade': 28, 'cidade': 'Belo Horizonte', 'notas': [25, 85.9, 68], 'email': 'pedro@gmail.com'}

# **Fun√ß√µes**
* As fun√ß√µes s√£o blocos de c√≥digo que recebem um nome e executam determinada tarefa.
* Quando precisamos realizar a tarefa que foi definida numa fun√ß√£o, n√£o √© preciso digitar tudo
novamente, apenas chamamos a fun√ß√£o.
* Para executar a tarefa, as fun√ß√µes podem precisar de dados, que chamamos de par√¢metros ou
argumentos.
* As fun√ß√µes tamb√©m podem ou n√£o retornar um ou mais valores ao final da execu√ß√£o.

In [ ]:
def olaMundo():
    print("Ol√° Mundo!")

print(type(olaMundo))
print("Chamando a fun√ß√£o olaMundo()...!")
olaMundo()

<class 'function'>
Chamando a fun√ß√£o ola_mundo!
Ol√° Mundo!

In [ ]:
#par√¢metros
def descreva_pessoa(nome, idade):
    print(f"\nNome: {nome}")
    print(f"Idade: {idade}")

descreva_pessoa("Jo√£o", 25)
descreva_pessoa("Maria", 30)

Nome: Jo√£o
Idade: 25

Nome: Maria
Idade: 30

In [ ]:
# retornando valores
def repetirString(string, vezes):
    s = ""
    for i in range(vezes):
        s += string
    return s

saida = repetirString("Ol√° ", 5)
print(saida)

Ol√° Ol√° Ol√° Ol√° Ol√°

In [ ]:
#escopo de variaveis

def funcao():
    x = "Fant√°stico"
    print("Escopo local...")
    print("Python √© "+x)

x = "Impressionante"
funcao()
print("Escopo global...")
print("Python √© "+ x)

Escopo local...
Python √© Fant√°stico
Escopo global...
Python √© Impressionante

In [ ]:
# parametros com default
def say_hello(name="Darth Vader", emoji="?"):
  print(f"Hello {name} {emoji}")

say_hello("World", "üòÄ")
#keyword arguments (n√£o √© muito usado)
say_hello(emoji=":)", name="World")
say_hello('Im not your father')
say_hello()

Hello World üòÄ
Hello World :)
Hello Im not your father ?
Hello Darth Vader ?

# **Classes**
* No contexto da programa√ß√£o orientada a objetos, as classes representam coisas e situa√ß√µes do
mundo real.
* Com base nas classes, criamos ou ‚Äúinstanciamos‚Äù objetos.
* A classe funciona como um "molde" para a cria√ß√£o de objetos. Uma classe define um
comportamento geral que uma categoria de objetos deve apresentar.

In [5]:
class Dog:
  def __init__(self, name, age):
    #inicializa os atributos
    self.name = name
    self.age = age

  def sit(self):
    #simula o cachorro atendendo ao comando
    print(f"{self.name} est√° sentado")

  def roll_over(self):
    #simula o cachorro atendendo ao comando
    print(f"{self.name} rolou!")

meuCusco = Dog("Monstro",3)
print(f"O nome do meu cusco √© {meuCusco.name} e ele tem {meuCusco.age} anos")
meuCusco.sit()
meuCusco.roll_over()

O nome do meu cusco √© Monstro e ele tem 3 anos
Monstro est√° sentado
Monstro rolou!

In [6]:
# Heran√ßa e polimorfismo
class Veiculo:
  def __init__(self, marca, modelo):
    self.marca = marca
    self.modelo = modelo

  def mostrarDetalhes(self):
    print(f"Marca: {self.marca}, Modelo: {self.modelo}")

class Carro(Veiculo):
  def __init__(self, marca, modelo, cor):
    super().__init__(marca, modelo)
    self.cor = cor

class Moto(Veiculo):
  def __init__(self, marca, modelo, cilindrada):
    super().__init__(marca, modelo)
    self.cilindrada = cilindrada

def mostrarInformacoes(veiculo):
  veiculo.mostrarDetalhes()


carro = Carro("Toyota", "Corolla", "Vermelho")
moto = Moto("Honda", "CBR", 500)

mostrarInformacoes(carro)
mostrarInformacoes(moto)

Marca: Toyota, Modelo: Corolla
Marca: Honda, Modelo: CBR

# **==-Exerc√≠cios-==**
1. **Tuplas:**

    Crie uma tupla com os nomes dos dias da semana e solicite ao usu√°rio que digite um n√∫mero de 1 a 7. Exiba o dia correspondente ao n√∫mero digitado.

2. **Listas:**

    Escreva um programa que crie uma lista vazia e permita que o usu√°rio adicione 5 n√∫meros inteiros. Em seguida, exiba a lista e a soma de todos os n√∫meros contidos nela.

3. **Sets:**

    Crie dois conjuntos (sets) com elementos inteiros. Realize as opera√ß√µes de uni√£o, interse√ß√£o e diferen√ßa entre eles, e exiba os resultados.

4. **Dicion√°rios:**

    Desenvolva um programa que armazene as notas de tr√™s disciplinas em um dicion√°rio, onde as chaves s√£o os nomes das disciplinas e os valores s√£o as notas. Calcule e exiba a m√©dia das notas.

5. **Fun√ß√µes:**

    Implemente uma fun√ß√£o chamada calcular_fatorial que receba um n√∫mero inteiro e retorne o seu fatorial. Use essa fun√ß√£o para calcular o fatorial de um n√∫mero fornecido pelo usu√°rio.

6. **Classes (Exemplo Alternativo):**

    Crie uma classe chamada Retangulo que tenha os atributos largura e altura. Adicione um m√©todo chamado calcular_area que retorne a √°rea do ret√¢ngulo (largura * altura). Adicione tamb√©m um m√©todo chamado calcular_perimetro que retorne o per√≠metro (2 * (largura + altura)). Instancie um objeto dessa classe com valores de sua escolha e exiba a √°rea e o per√≠metro.

7. **Tuplas e Fun√ß√µes:**

    Escreva uma fun√ß√£o que receba uma tupla de n√∫meros inteiros e retorne a soma dos elementos. Teste a fun√ß√£o com uma tupla de exemplo.

8. **Listas e Sets:**

    Crie uma lista com alguns elementos duplicados. Converta essa lista em um set para remover as duplicatas e exiba o set resultante.

9. **Dicion√°rios e Fun√ß√µes:**

    Crie uma fun√ß√£o chamada contar_ocorrencias que receba uma lista de palavras e retorne um dicion√°rio com a contagem de ocorr√™ncias de cada palavra. Teste a fun√ß√£o com uma lista de exemplo.

10. **Classes e Listas:**

    Crie uma classe chamada Aluno com os atributos nome e nota. Crie uma lista com tr√™s objetos Aluno, cada um com um nome e uma nota. Implemente um m√©todo na classe que determine se o aluno foi aprovado (nota >= 7) e use esse m√©todo para verificar se cada aluno foi aprovado.